[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
flake8 = "==3.7.9"
mypy = "==0.750"

[packages]
matplotlib = "==3.1.2"

[requires]
python_version = "3.7"
