[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
flake8 = "==3.7.9"
mypy = "==0.740"
jupyter = "==1.0.0"
jupyterlab = "==1.2.1"
ipywidgets = "==7.5.1"

[packages]
tqdm = "==4.37.0"

[requires]
python_version = "3.7"
