[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.3b0"
flake8 = "==3.7.8"
mypy = "==0.730"

[packages]
imageio = "==2.5.0"
numpy = "==1.17.2"
pillow = ">=6.2.2"

[requires]
python_version = "3.7"
