<html>
<head>
<meta charset="UTF-8">
<title>Jinja2 Sample</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>
<body>
<h1>Jinja2 Sample</h1>
<p>ようこそ、 {{ comment }} へ。</p>
</body>
</html>
